.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 99;
  box-shadow: 0 0 9px #d3d3d3;

  .modal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    min-width: 400px;
    max-width: 600px;
    height: 100%;
    background-color: #fff;
    overflow: scroll;

    .modal__header {
      align-self: flex-start;
      padding: 25px 10px 15px 10px;
      width: 100%;
      border-bottom: 4px solid #333c85;

      .modal__h3 {
        font-weight: 500;
      }
    }
    .modal__image {
      min-width: 150px;
      min-height: 150px;
      margin: 30px 0 60px 0;
      border-radius: 50%;
      background-image: url(../../assets/img1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 0 9px #d3d3d3;
    }
    .modal__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;

      .modal__form-label {
        padding: 20px 0 0 15px;
      }

      .modal__form-input {
        margin: 0 10px;
      }

      .modal__form-select {
        margin: 0 10px;
      }

      .modal__form-input,
      .modal__form-select {
        padding-left: 5px;
        height: 25px;
        border: none;
        border-bottom: 1px solid $border-color;
        background-color: transparent;
      }

      .modal__buttons-container {
        margin-top: auto;
        padding: 10px;
        border-top: 1px solid $border-color;
      }

      .modal__button {
        margin-right: 5px;
        padding: 6px 12px;
        background-color: white;
        border: 1px solid $border-color;
        color: $main-font-color;
        cursor: pointer;
      }

      .modal__button:nth-child(1) {
        margin-right: 5px;
        background-color: $purple-color;
        border: 1px solid $purple-color;
        color: white;
      }
    }
  }
}
