.todo {
  .todo__list {
    flex-basis: 100%;
    overflow-y: scroll;

    .todo__checkbox {
      margin: 10px 8px 10px 10px;
      min-width: 15px;
      min-height: 15px;
      border-radius: 50%;
      border: 1px solid $border-color;
      appearance: none;
      outline: none;
      cursor: pointer;
      background-color: white;
    }

    .todo__checkbox:checked {
      background-color: $checked-color;
    }

    .todo__label {
      cursor: pointer;
    }
  }

  .todo__input {
    padding: 5px 10px 10px 10px;
    margin-top: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-color;
    font-size: 0.9rem;
  }
}

@media (min-width: 780px) {
  .todo {
    grid-column: 1 / 2;
  }
}
// @media (min-width: 1180px) {
//   .todo {
//     grid-column: 1 / 2;
//   }
// }
